$background-color:  rgb(211,206,202);
$text-on-background: black;
$scrollbar-thumb: rgb(189, 188, 188);
$scrollbar-thumb-border: rgb(98, 83, 83);
$shadow:  rgba(0,0,0,0.3);
$strong-shadow:  rgba(0,0,0,0.5);
$primary: rgba(182,80,6,1);
$primary-active: rgb(138, 61, 5);
$on-primary: rgba(248,243,237,1);
$secondary: rgba(63, 68, 90, 1);
$on-secondary: rgba(242,242,242,1);