@use 'dialog';
@use 'color';

$breakpoint-tablet: 768px;

.img_alt{
    width:100%;
    height: calc(dialog.$max-content-height - 10px - 31px); //make button bar fit in 
    background-color: transparentize(color.$secondary, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageview{
    img{
        object-fit: contain;
        width:100%;
        max-height: dialog.$max-content-height;
    }
}

.image-info{
    .people{
        @media (min-width: $breakpoint-tablet) {
            max-width: 60%;
        }

        h3{
            margin-top: 0;
        }

        .faces{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .face{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            img{
                border-radius: 50%;
                width:50px;
            }
            input[type="text"]{
                width: 100px;
                font-size: 17px;
                text-align: center;
                margin: 8px;
                border: none;
                border-radius: 5px;
                text-overflow: ellipsis;
                &:focus{
                    border: 2px solid color.$secondary;
                }
            }	
            span{
                max-width: 100px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;
            }
        }

        .edit_persons{
            border-radius: 50%;
            width:50px;
            height: 50px;
        }

    }

    .upload-info{
        h3, p{
            margin: 0; // 4px 0;
        }

        i{
            margin-right: 4px;
            font-size: large;
        }

        button i{
            margin-right: 8px;
            font-size: medium;
        }

        padding: 1em 0;
        display: flex;
        gap: 4px;
        //align-items: center;
        flex-direction: column;
    }

    .wraper-h{
        padding: 30px;
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .bottom-buttons{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    .bottom-buttons-left{
        display: none;
    }
    .bottom-buttons-close{
        display: none;
    }
    .bottom-buttons-right{
        display: none;
    }
}

@media (min-width: 1024px) {
    .bottom-buttons{
        display: none;
    }
        
    .bottom-buttons-left{
        position:absolute;
        top: 20%;
        left: 2%;
        height: 60%;
        width: 6%;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .bottom-buttons-left:disabled{
        display:none;
    }

    .bottom-buttons-close {
        position:absolute;
        font-size: 40px;
        top: 6%;
        left: 86%;
        background-color: rgba(0, 0, 0, 0.5);

    }   

    .bottom-buttons-right{
        position:absolute;
        top: 20%;
        left: 92%;
        height: 60%;
        width: 6%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .bottom-buttons-right:disabled{
        display: none;
    }
}

