//Upload
.upload-wrapper{
    overflow-y:hidden;
}

.upload-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
    max-height:450px;
    overflow-y:scroll;
}

.upload {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.smallimg {
	width: 200px;
	height: 200px;
}

.upload button {
	width: 200px;
	height: 30px;
}

.controls {
    max-width: 50px;
}

.person {
    width: 250px;
}

.person-wrapper {
    width: 200px;
}

.profilepicture {
    border-radius: 100;
    width: 40px;
    height: 40px;
}

.people-scroll {
    height:200px;
    width: 305px;
    margin-right:20px;
    overflow-y: scroll;
}
