@use 'dialog';

body {
	font-family: sans-serif;
	margin: 5px;
	top:0px;
	background-color: rgba(211,206,202,255);
	color: black;
	overflow-x: hidden; //Remove minor left-right scroll 
}

//Default button layout
button {
	background-color: rgba(182,80,6,255);
	font-size: 18px;
	border: 0px;
	border-radius: 5px;
	color: rgba(248,243,237,255);
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover{
	background-color: rgba(196,76,51,255);
}

/* Container for navigation bar at the top */
.topbarNav {
	margin: -5px;
    width: 100vw;
    background-color: rgba(63, 68, 90, 255);
    padding: 15px;
    overflow: hidden;
}

.topbarNav a, .topbarNav span, .topbarNav button {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbarNav span {
    background-color: rgba(182, 80, 6, 255);
    margin-right: 25px;
}

.topbarNav button {
    border: 0;
    border-radius: 0;
    transition: none;
    background-color: rgba(63, 68, 90, 255);
    margin-right: 5px; 
}

.topbarNav button:hover {
	text-decoration: underline;
}

.topbarNav a:hover {
	text-decoration: underline;
}

.topbarNav a.active {
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

.topbarNav-right {
    float: right;
}

//Container for all feed elements
.feedContainer{
	padding: 10px;
}

//Container of feed settings, e.g. #displayFeed button
.feedSettings{
	margin: 10px;
	margin-bottom: 20px;
}

//Date or smooth feed button
#displayFeed{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border: none;
	color: rgba(248,243,237,255);
    border-radius: 5px;
    cursor: pointer;
	float: right;
	margin-right: 15px;
}

#displayFeed:hover{
    background-color: rgba(196,76,51,255)
}

//Images in feed
.image img{
	height: 270px;
	width:100%;
}

//Smooth display of images
.imageSmooth {
	flex-grow: 1;
	max-height: 550px;
	margin-top:5px;
  	object-fit:cover;
}

  //Infinite scroll div
.flowdiv{
	display: flex; 
	flex-wrap: wrap; 
	gap: 5px;
	width: 100%;
	height: calc(100vh - 100px);//50px header+ 2*15px padding header+ 2*10px padding;
    min-height:70vh;
	overflow-y:auto;
	padding-right:10px;
}

//Fix for stretched images (not implemented yet)
//This is hard-coded, needs to be dynamic based on screen size (@media (max-width: 1100px) and (min-width: 1000px) 
//   div:nth-last-child(3) ~ div{
// 	flex-grow: 0;
//   }
  
//Custom scrollbar for feed
.flowdiv::-webkit-scrollbar {
    width: 1em;
}
 
.flowdiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
 
.flowdiv::-webkit-scrollbar-thumb {
  background-color: rgb(189, 188, 188);
  outline: 1px solid rgb(98, 83, 83);
  border-radius: 10px;
}

//Implement "break" class for a "newline" functionality in the smooth feed
.break {
	flex-basis: 100%;
	height: 25px;
}

//Title of dates in date feed
.date_title{
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 22px; 
	font-weight: bold; 
	line-height: 32px; 
}

//Invisible element (you could have figured this one out without this comment)
.invis{
	display:none;
}

//Upload
.upload-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	width: 100vw;
}

.upload {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.upload img {
	width: 200px;
	height: 200px;
}

.upload button {
	width: 200px;
	height: 30px;
}

.main {
	min-height: 100vh;
	height: fit-content;
}

//Login and signup elements
.loginForm, .signupForm {
	text-align: center;
	padding-top: 30px;
}

input[type="text"], input[type="password"] {
	width: 300px;
	font-size: 17px;
	height: 32px;
  	margin: 8px;
  	border: 2px solid #cccccc;
  	border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus {
	border: 2px solid #000000;
  }


.rememberLabel {
	font-size: 17px;
	justify-content: center;
	display: block;
	align-self: start;
}

.rememberCheckbox {
	margin-top: 10px;
	display: inline-block;
	vertical-align: sub;
  	width: 30px;
  	height: 30px;
}

.loginButton, .signupButton {
	font-size: 17px;
}

.userlist {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.user-item {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	border: 1px solid rgba(63, 68, 90, 255);
	padding: 5px;
}

.user-item p {
	margin-right: 10px;
}

.buttons {
	display: flex;
	gap: 5px;
}

.buttons button {
	margin: 8px;
	height: 38px;
}






.floating{
	position: fixed;
	bottom: 60px;
	right: 60px;
	border-radius: 50%;
	font-size: 40px; 
	height: 70px;
	width: 70px;
	text-align: center;
}