@use 'default';
@use 'dialog';
@use 'topbar';
@use 'upload';
@use 'feed';
@use 'login_logout_signup';
@use 'admin';
@use 'loading';
@use 'homepage';

.horizontal {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:10px;
    margin: 5px;
    height: 40px;
}

@import "./leptonic/leptonic-themes";
